.vs/
.editorconfig
IOTA Gears/obj/
IOTA Gears/bin/
IOTA Gears/pipeline.sqlite
IOTA Gears/Properties/PublishProfiles/FolderProfile.pubxml
IOTA Gears/Properties/PublishProfiles/FolderProfile.pubxml.user
